<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659623699045-ofa4plp66a5oq2qtaj0og7cce2uioct9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659623699045-ofa4plp66a5oq2qtaj0og7cce2uioct9</string>
	<key>API_KEY</key>
	<string>AIzaSyDXn2vGwhe-Jmv53hGSBC9ZO8iW75eapcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>659623699045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleChat</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-191bd</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-191bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659623699045:ios:d1a0a826fb3f572e4d1c8c</string>
</dict>
</plist>